.country-details-container {
    right: 0;
    overflow-y: auto;
    width: 75%;
    position: absolute;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

img {
    max-width: 80%;
    max-height: 30vh;
    height: auto;
    margin-bottom: 20px;
}

.flag {
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
}